button {
  border:none;
  background:none;
  font-size: 1rem;
  display: block;
  width:100%;
  padding:.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:inherit;
}

button:hover,
button:focus,
button:active {
  background: rgba(0,0,0, .2);
  outline:none;
}
